/* 
Root styles 
*/

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16;
}

body {
    background-color: hsl(0, 0%, 96%);
    color: hsl(240, 64%, 27%)
}

/* 
Universal styles
*/

h1 {
    font-size: 3rem;
    font-variant: small-caps;
    text-align: center;
    line-height: 3;
}

/*
 Navigation 
*/

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.25rem;
  }

  nav ul {
    padding: 0.25rem;
    border-radius: 0.125rem;
  }
  
  nav li {
    display: inline;
    text-transform: uppercase;
    margin-right: 0.5rem;
    padding: 0.75rem;
  }

  nav a {
    text-decoration: none;
  }






  
/*
Section Footer
*/

footer {
    padding-top: 0.5rem;
    margin-top: 0.5rem;
  }
  footer p {
    display: block;
    text-align: center;
    padding: 0.3rem;
    
  }